body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 30px;
}

form {
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
button[type="submit"] {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
    text-transform: uppercase;
}

tr:hover {
    background-color: #f5f5f5;
}

a {
    text-decoration: none;
    color: #4CAF50;
    transition: color 0.3s ease;
}

a:hover {
    color: #45a049;
}

a.update-link,
button[type="submit"].delete-button {
    background-color: #008CBA;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

a.update-link:hover,
button[type="submit"].delete-button:hover {
    background-color: #007095;
}

button[type="button"] {
    background-color: #ddd;
    color: black;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button[type="button"]:hover {
    background-color: #ccc;
}